<footer class="text-[#999] text-[13px]">
    <div class="pt-10 pb-[70px] bg-[#222222]">
        <div class="container">
            <div class="row gap-[50px] sm:gap-0">
                <div class="col-sm-12 col-md-4">
                    <div class="mb-[70px]">
                        <h4 class="font_Poppins font-[500] text-[18px] text-white uppercase tracking-[2px] mb-[33px]">
                            Contact Us
                        </h4>
                        <ul>
                            <li class="mb-[14px] flex gap-2 items-center">
                                <i class="fa-solid fa-location-dot"></i>
                                8th floor, 379 Hudson St, New York, NY 10018
                            </li>
                            <li class="mb-[14px] flex gap-2 items-center">
                                <i class="fa-solid fa-phone"></i>
                                (+1) 96 716 6879
                            </li>
                            <li class="mb-[14px] flex gap-2 items-center">
                                <i class="fa-solid fa-envelope"></i>
                                contact@site.com
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="font_Poppins font-[500] text-[18px] text-white uppercase tracking-[2px] mb-[33px]">
                            Opening Times
                        </h4>
                        <ul>
                            <li class="mb-[14px] flex gap-2 items-center">09:30 AM – 11:00 PM</li>
                            <li class="mb-[14px] flex gap-2 items-center">Every Day</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4 class="font_Poppins font-[500] text-[18px] text-white uppercase tracking-[2px] mb-[33px]">
                        Latest twitter
                    </h4>
                    <div class="mb-[25px]">
                        <div class="flex items-center gap-[5px]">
                            <i class="fa-brands fa-twitter"></i>
                            <a href="#!" class="text-[13px] text-[#ec1d25] leading-[1.7]"> @colorlib </a>
                        </div>
                        <p class="text-[#999] leading-[1.7] mb-[18px]">
                            Activello is a good option. It has a slider built into that displays the featured image in
                            the slider.
                            <a href="#!" class="text-[#ec1d25]"> https://buff.ly/2zaSfAQ </a>
                        </p>
                        <span class="text-[12px] text-[#555]"> 21 Dec 2017 </span>
                    </div>
                    <div>
                        <div class="flex items-center gap-[5px]">
                            <i class="fa-brands fa-twitter"></i>
                            <a href="#!" class="text-[13px] text-[#ec1d25] leading-[1.7]"> @colorlib </a>
                        </div>
                        <p class="text-[#999] leading-[1.7] mb-[18px]">
                            Activello is a good option. It has a slider built into that displays
                            <a href="#!" class="text-[#ec1d25]"> https://buff.ly/2zaSfAQ </a>
                        </p>
                        <span class="text-[12px] text-[#555]"> 21 Dec 2017 </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4 class="font_Poppins font-[500] text-[18px] text-white uppercase tracking-[2px] mb-[33px]">
                        Gallery
                    </h4>
                    <div class="flex flex-wrap gap-[10px]">
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-01.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-01.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-02.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-02.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-03.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-03.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-04.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-04.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-05.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-05.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-06.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-06.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-07.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-07.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-08.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-08.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-09.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-09.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-10.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-10.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-11.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-11.jpg"
                                alt=""
                            />
                        </a>
                        <a
                            href="https://preview.colorlib.com/theme/pato/images/photo-gallery-12.jpg"
                            style="width: calc((100% - 30px) / 4)"
                        >
                            <img
                                src="https://preview.colorlib.com/theme/pato/images/photo-gallery-thumb-12.jpg"
                                alt=""
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#111111] py-[22px]">
        <div class="container flex justify-between">
            <div class="text-white flex gap-[18px]">
                <a href="#!">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#!"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <p class="text-[14px] text-[#999] leading-[1.7]">
                @ 2017 Colorlib. <a href="#!" class="text-[#ccc]">Get The Theme</a>
            </p>
        </div>
    </div>
</footer>
